workflows/angie.json
{
  "name": "Angie, personal AI assistant with Telegram voice and text",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "3b82d7cb-24d9-4c29-abd0-c9cc96eb99ec",
      "name": "Listen for incoming events",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -1440,
        496
      ],
      "typeVersion": 1,
      "webhookId": "d647289a-3d18-43ac-8860-78d5f2c0d867",
      "credentials": {
        "telegramApi": {
          "name": "Yarik Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "allow_1",
              "name": "allow",
              "type": "string",
              "value": "63277017"
            }
          ]
        },
        "options": {}
      },
      "id": "4ff11de9-5220-4258-a27c-182333cd0660",
      "name": "AllowList",
      "type": "n8n-nodes-base.set",
      "position": [
        -1216,
        448
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "auth_check",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $('Listen for incoming events').first().json.message.from.id }}",
              "rightValue": "={{ $json.allow }}"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "02167cc6-02ec-403c-9d95-6cb715368a3e",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        -1024,
        496
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Listen for incoming events').item.json.message.text || '' }}"
            },
            {
              "name": "sessionId",
              "stringValue": "={{ $('Listen for incoming events').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "da8ac681-3fb4-4ebb-b74f-a67fb04a5ae7",
      "name": "Voice or Text",
      "type": "n8n-nodes-base.set",
      "position": [
        -544,
        -96
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "voice_check",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $('Listen for incoming events').item.json.message.text }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "db7b8f15-faf6-40e7-b621-f68967e2f1c8",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -400,
        240
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Listen for incoming events').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "0daa3481-381a-4c3f-820c-9044c9159550",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -160,
        -32
      ],
      "typeVersion": 1.1,
      "webhookId": "5999b7c7-b98c-4fe1-a9ed-acf008271365",
      "credentials": {
        "telegramApi": {
          "name": "Yarik Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text || $json.content?.parts?.[0]?.text || '' }}",
        "options": {
          "systemMessage": "You are a helpful assistant.\n\nToday's date is {{ $now }}.\n\nGuidelines:\n- When fetching emails, filter out any promotional emails.\n- When summarizing emails, include Sender, Message date, subject, and brief summary of email.\n- If the user did not specify a date in the request assume they are asking for today\n- When answering questions about calendar events, filter out events that don't apply to the question. For example, the question is about events for today, only reply with events for today. Don't mention future events if it's more than 1 week away"
        }
      },
      "id": "eedda075-4b7c-45b4-a640-a14f89f919a7",
      "name": "Angie, AI Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        432,
        96
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "angie_session_default",
        "contextWindowLength": 10
      },
      "id": "f5635c8d-7e5d-4fce-a49b-36b14985ad4b",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        224,
        640
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "f5f991cc-2d40-47d3-bb6e-e3dcb0f47384",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1024,
        288
      ],
      "typeVersion": 1.1,
      "webhookId": "7a5b16fd-9c6b-4fec-becc-f52ae781ec49",
      "credentials": {
        "telegramApi": {
          "name": "Yarik Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {}
      },
      "id": "6a7cd4ce-74fd-43ff-a6a2-7b29381b2f6a",
      "name": "Get many messages in Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        432,
        592
      ],
      "typeVersion": 2.2,
      "webhookId": "e23299c3-1f1e-4c75-8f7c-9ffc6531d039",
      "credentials": {
        "gmailOAuth2": {
          "name": "sergei@rubik.school"
        }
      }
    },
    {
      "parameters": {
        "modelName": "=models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        160,
        368
      ],
      "id": "7580b52f-a1ed-47fc-b4a1-68d6087e0cff",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.5-flash",
          "mode": "id"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        160,
        -48
      ],
      "id": "42f5f44b-f71d-4692-a66a-bebc5c9c5eed",
      "name": "Analyze audio",
      "credentials": {
        "googlePalmApi": {
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "Processing your request...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "50e418c5-6194-4605-9e11-7d495c4fe5e1",
      "name": "Ack: processing",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -832,
        192
      ],
      "webhookId": "cb1e18ed-d832-4775-bb91-784e6648b894",
      "credentials": {
        "telegramApi": {
          "name": "Yarik Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "truncate_1",
              "name": "text",
              "type": "string",
              "value": "={{ (($json.output || '') + '').replace(/\\*/g, '').replace(/`/g, '').replace(/_/g, '').replace(/\\[/g, '').replace(/\\]/g, '').slice(0, 4000) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fc0efd30-50e3-42e1-b990-ee87023a5050",
      "name": "Truncate output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        192
      ]
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Angie, AI Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AllowList": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Angie, AI Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Voice or Text": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Analyze audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Angie, AI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Listen for incoming events": {
      "main": [
        [
          {
            "node": "AllowList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Angie, AI Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze audio": {
      "main": [
        [
          {
            "node": "Angie, AI Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Ack: processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack: processing": {
      "main": [
        [
          {
            "node": "Voice or Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Angie, AI Assistant": {
      "main": [
        [
          {
            "node": "Truncate output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Truncate output": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 3,
    "errorWorkflowName": "Angie — Errors"
  }
}
